<link rel="icon" href="/assets/img/iconFoodRush.png" type="image/x-icon" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css"
/>
<link
  rel="stylesheet"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css"
/>
<link
  rel="stylesheet"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
  rel="stylesheet"
/>
<style>
  .grey-bg { background-color: #F5F7FA; }
</style>
<div class="ml-3 mr-3">
  <section id="minimal-statistics">
    <div class="row">
      <div class="col-12 mb-1">
        <h4 class="text-uppercase">Estadísticas Generales</h4>
        <p>Resumen de estadísticas del sistema.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-pointer danger font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{CatidadPedidos}}</h3>
                  <span>Total Pedidos</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-speech warning font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{CatidadPedidosHoy}}</h3>
                  <span>Pedidos Hoy</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-graph success font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{ComerciosActivos}}</h3>
                  <span>Comercios Activos</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-pencil primary font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{ComerciosInactivos}}</h3>
                  <span>Comercios Inactivos</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-rocket danger font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{ClientesActivos}}</h3>
                  <span>Clientes Activos</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-user success font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{ClientesInactivos}}</h3>
                  <span>Clientes Inactivos</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-cup success font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{DeliveryActivos}}</h3>
                  <span>Delivery Activos</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-support primary font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{DeliveryInactivos}}</h3>
                  <span>Delivery Inactivos</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-book-open primary font-large-2 float-left"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{CatidadProducto}}</h3>
                  <span>Productos Creados</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
></script>
