{{#if has}}
  <h1 class="text-center my-4">Listado de Deliveries</h1>
  <div class="container">
    <ul class="list-group">
      {{#each Deliveries}}
        <li
          class="list-group-item d-flex justify-content-between align-items-start mb-4"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold h5">{{this.name}} {{this.lastName}}</div>
            <div class="h6"><strong>Teléfono:</strong> {{this.phone}}</div>
            <div class="h6"><strong>Email:</strong> {{this.email}}</div>
            <div class="h6"><strong>Pedidos entregados:</strong>
              {{this.cantidad}}</div>
          </div>
          <form action="/admin/activarDesactivar" method="post">
            <input type="hidden" name="id" value="{{this.id}}" />
            <input type="hidden" name="rol" value="{{this.role}}" />
            <div class="d-flex flex-column align-items-end">
              {{#if this.isActivo}}
                <button class="btn btn-danger btn-sm">Desactivar</button>
              {{else}}
                <button class="btn btn-success btn-sm mb-2">Activar</button>
              {{/if}}
            </div>
          </form>
        </li>
      {{/each}}
    </ul>
  </div>
{{else}}
  <div class="container text-center my-4">
    <p class="text-muted">No hay clientes disponibles.</p>
  </div>
{{/if}}
