<!-- viewsDelivery/home.hbs -->
<div class="row">
  <div class="col-12">
    <h4>Pedidos Asignados</h4>
    {{#if hasPedidos}}
      {{#each pedidos}}
        <a href="/delivery/pedido/{{id}}" class="card-home-com-link">
          <div class="card-home-com mt-4">
            <div class="card-content">
              <div class="card-img-com">
                <img src="{{this.comercio.logo}}" class="card-img" alt="Logo Comercio">
              </div>

              <div class="text">
                <div class="card-info">
                  <div class="header">
                    <h4 class="card-title">{{status}}</h4>
                    <p class="card-text-com">{{date}} - {{hour}}</p>
                  </div>
                </div>

                <div class="card-details">
                  <h6>{{this.comercio.name}}</h6>
                  <p class="card-text-com">Total: ${{total}}</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      {{/each}}
    {{else}}
      <p>No hay pedidos asignados.</p>
    {{/if}}
  </div>
</div>
