{{#if has}}
  <div class="container mt-5">
    <h1 class="text-center mb-4">Mis Favoritos</h1>
    <ul class="list-group p-3">
      {{#each Comercios as |comercio|}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <img
              src="{{comercio.logo}}"
              class="img-thumbnail m-2"
              alt="imagen de {{comercio.name}}"
              style="width: 50px; height: 50px;"
            />
            <span class="mr-2">{{comercio.name}}</span>
          </div>
          <form method="post" action="/cliente/comercios/eliminar" class="mb-0">
            <input type="hidden" name="id" value="{{comercio.idfavorito}}" />
            <button type="submit" class="btn btn-delete">Remover</button>
          </form>
        </li>
      {{/each}}
    </ul>
  </div>
{{else}}
  <div class="container mt-5">
    <h2 class="text-center">Usted no ha agregado ninguno a favorito</h2>
  </div>
{{/if}}
