<div class="btn-add-prod mb-3">
    <a href="/comercios/agregarProducto" class="btn btn-add"> + Agregar Producto</a>
</div>
      
<div class="row" >
     {{#if hasProducto}}
     {{#each productos}}

    <div class="col-md-3">

        <div class="card-sl">
            <div class="card-image-prod">
                <img
                    src="{{image}}" class="image-fit"/>
            </div>

            <div class="card-heading-prod">
                {{name}}
            </div>
            <div class="card-text-prod">
                {{description}}
            </div>
            <div class="card-text-prod">
               {{price}}
               <p>ID: {{id}}</p> 
            </div>
            <div class="card-button-container">
                <a href="/comercios/EditarProducto/{{id}}" class="card-button-edit"> Edit</a>
                <a href="/comercios/DeleteProducto/{{id}}" class="card-button-delete"> Delete</a>
            </div>

        </div>
        
    </div>
    {{/each}}
        {{else}}

         <h3>No hay productos creados</h3>
        {{/if}}
</div>