<div class="container my-4">
  <form class="d-flex mb-4" action="">
    <input
      type="text"
      class="form-control me-2"
      placeholder="Buscar..."
      aria-label="Buscar"
      name="buscar"
    />
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>

  <h6 class="mb-4">{{Cantidad}}51 Bards</h6>

  <!-- Lista de Bards -->
  {{#if has}}
    <ul class="list-unstyled">
      {{#each Restaurantes as |restaurante|}}
        <li class="mb-3">
          <a
            href="#"
            class="text-decoration-none d-flex align-items-center p-3 border rounded shadow-sm"
          >
            <img
              src="/{{restaurante.logo}}"
              alt="{{restaurante.name}}"
              class="img-fluid me-3"
              style="width: 100px; height: auto;"
            />
            <p class="mb-0">{{restaurante.name}}</p>
          </a>
        </li>
      {{/each}}
    </ul>
  {{else}}
  <h2>No hay bards disponibles</h2>

  {{/if}}

  <div class="text-center mt-4">
    <button class="btn btn-secondary" onclick="window.history.back();">Volver</button>
  </div>
</div>
