<div class="container my-4">
  <!-- Lista de Tienda -->
  {{#if has}}
    <ul class="list-unstyled">
      <ul class="list-unstyled">
      <form class="d-flex mb-4" action="/buscarComercio" method="post">
        <input
          type="text"
          class="form-control me-2"
          placeholder="Buscar..."
          aria-label="Buscar"
          name="buscar"
        />
        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
      <h6 class="mb-4">{{Cantidad}} Tiendas</h6>
      {{#each Bars}}
        <li class="mb-3">
          <a
            href="/comercios/pedido/realizar/{{this.id}}"
            class="text-decoration-none d-flex align-items-center p-3 border rounded shadow-sm"
          >
            <img
              src="{{this.logo}}"
              alt="{{this.name}}"
              class="img-fluid me-3"
              style="width: 100px; height: auto;"
            />
            <p class="mb-0">{{this.name}}</p>
            {{! Le falta el corazon para ponerlo de favorito }}
          </a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <h2>No hay Bars disponibles</h2>

  {{/if}}
  <div class="text-center mt-4">
    <button
      class="btn btn-secondary"
      onclick="window.history.back();"
    >Volver</button>
  </div>
</div>
